.logonavbar {
    height: 4rem;
}
.navConteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 20rem;
}

.navItems {
    margin-left: 2rem;
}

.saludo {
    display: flex;
    flex-direction:row ;
    justify-content: center;

}

.caro{
margin-left: 40rem;

}
 .carousel {
    height: 50rem;
    width: 40rem;
 }

 .products {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px, 1fr));
    grid-gap: 1rem;
 }
/*  .cardimage {
    width: 100%;
    height: 200px;
    object-fit: cover;
 } */
